--extra-index-url https://download.pytorch.org/whl/cu118
-f https://data.pyg.org/whl/torch-2.0.0+cu118.html
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
torch_geometric==2.3.1
pyg_lib==0.2.0+pt20cu118
torch_cluster==1.6.1+pt20cu118
torch_scatter==2.1.1+pt20cu118
torch_sparse==0.6.17+pt20cu118
torch_spline_conv==1.2.2+pt20cu118
einops~=0.6.0
torchmetrics~=1.0.2
lightning~=2.0.6
pytorch-symbolic==1.0.7
tqdm~=4.64.1
torchinfo~=1.7.1
pyyaml~=6.0
igraph~=0.10.3
networkx~=3.0
pandas~=1.5.1
scipy~=1.9.3
matplotlib~=3.7.2
plotly~=5.16.0
pillow~=9.3.0
scikit-learn~=1.3.0
numpy~=1.24.1
jsonargparse[signatures]~=4.23.1
pytorch-msssim~=1.0.0
wandb~=0.15.12
#tensorflow~=2.15.0
#keras~=2.15.0
opencv-python~=4.8.1.78
weightwatcher~=0.7.5.2
optuna~=3.6.1
objproxies~=0.9.4
heapdict~=1.0.1
grad-cam~=1.5.2
ttach~=0.0.3
seaborn~=0.13.2
torch-geometric~=2.3.1
lightning-utilities~=0.10.1
scikit-image~=0.24.0
lime~=0.2.0.1
sortedcollections~=2.1.0